/*

	Theme Name 
	
*/


Body {
	background-color: rgba(0,0,0,0.5);
	color: #000305;
	font-size: 87.5%;
	font-family: Helvetica;
	line-height: 1.5;
	text-align: left;
} 

a {
	text-decoration: none;
}

a:link ,a:visited {
	color: #2d7abd;
	
}

a:hover, a:active {
	
}

.body {
	margin: 0 auto;
	width:	70%;
	clear	:both;
}

.mainheader nav {
	background-color: #666;
	height:  40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


.mainheader nav ul {
	list-style: none;
	margin: 0 auto;
}

.mainheader nav ul li {
	float: left;
	display: inline;
}


.mainheader nav a:link, .mainheader nav a:visited {
	color: #FFF;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
}

.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visited {
	background-color: #2d7abd; /* #CF5C3F; */
	text-shadow: none;
}


.mainheader nav ul li a {
	 	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.maincontent {
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


.content {
	width: 100%;
	float: left;
	/*overflow: hidden; */
}

.topcontent {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;	
	font-family: Helvetica;
	line-height: 1.5;
	font-size: small;
}


.second_content {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
	font-family: Helvetica;
	line-height: 1.5;
	font-size: small;
	}

.second_content p {
	color: #2d7abd;
	font-size: 87.5%;
	font-family: Helvetica, 'Lucida Sans Unicode'; 
	line-height: 1.5;
}

/*
.top-sidebar {
	width: 11%;
	float: left;
	background: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 3%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 2% 3%
}
*/


/*
.middle-sidebar {
	width: 11%;
	float: left;
	background: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 3%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 2% 3%
}
*/

.mainfooter {
	width: 100%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #666;
	margin-top: 2%;
	margin-bottom: 2%;
}

.mainfooter p {
	width: 92%;
	margin: 1% auto;	
}


.testForm {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	float: left;
    margin: 2px 4px 6px 4px;
    text-align: left;
}



.content div input:valid,
.content div input:in-range {
    background:#d5dfe9;
    border-color:#687987;
}

.content div input:invalid,
.content div input:out-of-range {
  /*   border-color:hsl(0, 50%, 50%); */
    background:#e8c5c9;
}


.content div input:focus + .help,
.content div input:invalid + .help {
    display:inline-block;
}



.help {
    display:none;
    font-size:90%;
}
.content div input:focus + .help {
    display:inline-block;
}





/*
br { clear: left; }
    float: left;
    margin: 2px 4px 6px 4px;
    text-align: right;
    border-radius: 5px;
*/

.content div input {
    border: 1px solid #000067;
    background: #FFF;
    float: left;
    text-align: left;
    border-radius: 4px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 0px 5px;
	line-height: 1.7;
}




label {
    display: block;
    width: 150px;
    float: left;
    margin: 2px 4px 6px 4px;
    text-align: left;
}
br { clear: left; }







