<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="portal1.html" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="perl" path="*.pl" verb="*" modules="CgiModule" scriptProcessor="C:\Perl\Perl\bin\perl.exe &quot;%s&quot; %s" resourceType="Unspecified" />
        </handlers>
        <httpRedirect enabled="false" destination="" />
    </system.webServer>
</configuration>
